.my-container-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10vh auto; /* Se ajusta automáticamente al centro vertical y horizontal */
  font-family: "Archivo", sans-serif;
  font-style: normal;
  border: 0.5px solid #000000;
  width: 90%; /* Se ajusta al 90% del ancho del contenedor padre */
  max-width: 600px; /* Máximo ancho de 600px */
  box-sizing: border-box;
  border-radius: 2px;
  padding: 5%; /* Se ajusta al 5% del ancho del contenedor */
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
}

.my-label-form,
.form-title {
  display: block;
  margin-bottom: 5px;
  font-family: "Archivo", sans-serif;
  color: #000000ce;
  font-size: 1.5em; /* Tamaño de fuente relativo */
}

.my-input-form,
.my-textarea-form {
  width: 100%; /* Ancho completo del contenedor */
  max-width: 100%; /* Ancho máximo del contenedor */
  background-color: #65e0ff;
  border: 0.5px solid #000000;
  padding: 5px;
  outline: none;
  border-radius: 2px;
  margin-bottom: 15px;
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
  font-family: "Archivo", sans-serif;
}

/* Estilos para el select */
.my-select-form {
  width: 100%;
  max-width: 100%;
  background-color: #4be7ff;
  border: 0.5px solid #000000;
  padding: 5px;
  outline: none;
  border-radius: 2px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
  color: #000000ce; /* Color del texto del select */
}

/* Estilos para el contenedor del select */
.my-select-container {
  position: relative;
}

/* Estilos para el contenedor del texto del select */
.my-select-container span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
  font-family: "Archivo", sans-serif;
  color: #000000ce; /* Color del texto del select */
  pointer-events: none; /* Evita la interacción del usuario con el texto */
  z-index: 1; /* Asegura que el texto esté sobre el select */
}


.my-button-form,
.my-link-form {
  width: 100%;
  margin-top: 2vw;
  color: #000000ce;
  background-color: #4be7ff;
  border: 0.5px solid #000000;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  border-radius: 2px;
  font-family: "Archivo", sans-serif;
}

.category-list-create li {
  cursor: pointer;
}

.category-list-create{
  display: flex;
  flex-direction: column;
  list-style: none;
}


@media (max-width: 768px) {
  .my-label-form,
  .form-title {
    font-size: 18px; /* Tamaño de fuente fijo */
  }

  .my-button-form,
  .my-link-form {
    font-size: 14px;
  }

  .my-container-register {
    width: 90%; /* Reducción del ancho en dispositivos pequeños */
  }
}
