.product-content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: rgb(7, 24, 70);
  font-family: "Charis SIL", serif;
}

.mediaGallery {
  position: relative;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.media-container {
  width: 100%;
}

.info {
  width: 95%;
  height: 40vh;
  border: 0.8px solid rgb(7, 24, 70);
  padding: 10px;
}

.sizes-container {
  width: 100%;
  max-width: 300px; /* Ancho máximo ajustable según tus necesidades */
  color: rgb(7, 24, 70);
  font-family: "Charis SIL", serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.sizes-container h4 {
  margin-right: 10px;
  margin-bottom: 0;
}

.size-options {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.size-option {
  flex: 1;
  font-family: "Charis SIL", serif;
  font-size: 1vw;
  padding: 5px;
  background-color: rgb(250, 250, 250);
  border: solid 0.5px rgb(7, 24, 70);
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.size-option.selected {
  background-color: rgb(7, 24, 70);
  color: white;
}

.price {
  font-size: 2.5vh;
  width: 100%;
  margin-bottom: 15px;
  color: rgb(7, 24, 70);
  font-family: "Charis SIL", serif;
}

.product-description {
  font-size: 1vw;
  color: rgb(7, 24, 70);
  font-family: "Charis SIL", serif;
  margin-bottom: 20px;
}

.product-title {
  margin-top: 20px;
  font-size: 2.5vh;
  margin-bottom: 20px;
  color: rgb(7, 24, 70);
  font-family: "Charis SIL", serif;
}

.productImage {
  margin-top: 20px;
}

.product-detail-image {
  width: 100%;
}

.image-carrousell {
  outline: none;
}

.photoUploaderContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.slick-slider {
  cursor: grab; /* Cambiar el cursor a "agarre" cuando se pasa sobre el carrusel */
  outline: none;
}

.slick-slider:hover {
  cursor: grab;
  outline: none;
}

.slick-slider:active {
  cursor: grabbing; /* Cambiar el cursor a "agarrando" cuando se hace clic en el carrusel */
  outline: none;
}

.slick-slider:hover:active {
  cursor: grabbing;
  outline: none;
}

.product-colors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-colors li {
  list-style: none;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.color-circle.selected {
  border-color: #333; /* Cambia el color del borde del círculo seleccionado aquí */
}

.add-to-cart {
  color: rgb(7, 24, 70);
  font-family: "Charis SIL", serif;
  font-size: 1vw;
  padding: 5px;
  background-color: rgb(250, 250, 250);
  border: solid 0.5px rgb(7, 24, 70);
  cursor: pointer;
}

.loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  z-index: 9999;
}
