.collection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 17vh;
  position: relative;
}

.product-rows-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.product-container:hover .product-image {
  opacity: 0.8;
}

.product-row {
  width: calc(33.333% - 20px); /* Ajusta el ancho de las filas según el número de productos */
  margin-bottom: 20px;
  box-sizing: border-box;
}

.link-product {
  text-decoration: none;
  font-size: 15px;
  color: rgb(15, 30, 90);
  font-family: "Charis SIL", serif;
}

.product-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
  transition: opacity 0.2s ease;
}

.product-container {
  margin-bottom: 30px;
  padding: 20px;
  box-sizing: border-box;
}

.category-link {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 15px;
  color: rgb(15, 30, 90);
  font-family: "Charis SIL", serif;
}

.categories {
  display: flex;
  flex-direction: row;
}
