.collection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 17vh;
  position: relative;
}

.product-rows-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.product-container:hover .product-image {
  opacity: 0.8;
}

.product-row {
  width: calc(25% - 20px); 
  margin-bottom: 20px;
  box-sizing: border-box;
}


.product-row:nth-child(4n + 1) {
  margin-right: 0; 
}




.link-product {
  text-decoration: none;
  font-size: 13px;
  color: rgb(15, 30, 90);
  font-family: "Charis SIL", serif;
}

.product-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
  transition: opacity 0.2s ease;
  margin-top: 3.5vh;
}

.product-container {
  margin-bottom: 30px;
  padding: 20px;
  box-sizing: border-box;
}

.category-link {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 15px;
  color: rgb(15, 30, 90);
  font-family: "Charis SIL", serif;
}

.categories {
  display: flex;
  flex-direction: row;
}
