.category {
    display: flex;
    flex-direction: column;
    color: rgb(7, 24, 70);
    font-family: "Charis SIL", serif;
    align-items: center;
    margin-top: 100px;
}

.category-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.category-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(7, 24, 70);
    font-family: "Charis SIL", serif;
    align-items: center;
    padding: 20px 20px;
    list-style: none;
}

.category-link {
    color: rgb(7, 24, 70);
    font-size: 12px;
}

.category-info-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 40px;
    color: rgb(7, 24, 70);
    font-family: "Charis SIL", serif;
}

.name-category{
    margin-bottom: 20px;

}

.category-list li.selected {
    margin-top: -2px; /* Mueve la opción seleccionada hacia arriba 2px */
    /* Agrega cualquier otro estilo deseado para la opción seleccionada */
    text-decoration:underline;
    text-decoration-thickness: 0.2px; 
  }
