.category {
    display: flex;
    flex-direction: column;
    font-family: "Charis SIL", serif;
    align-items: center;
    margin-top: 100px;
}

.category-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.category-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Charis SIL", serif;
    align-items: center;
    padding: 20px 20px;
    list-style: none;
}

.category-link {
    color:rgb(0, 0, 0);
    font-size: 12px;
}

.category-info-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 40px;
    color: rgb(0, 0, 0);
}
.name-category{
    margin-bottom: 20px;

}

.category-list li.selected {
    margin-top: -20px; 
    text-decoration:underline;
    text-decoration-thickness: 0.2px; 
  }
  
  