.my-container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25vh auto; 
  color: rgb(0, 0, 0);
  font-family: "Charis SIL", serif;
  font-style: normal;
  border: 1.5px solid rgb(0, 0, 0);
  width: 90%; 
  max-width: 600px; 
  box-sizing: border-box;
  border-radius: 2px;
  padding: 5%; 
  background-color: rgb(250, 255, 250); 
  opacity: 0.8;
}

.my-label-form,
.form-title {
  display: block;
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
  font-family: "Charis SIL", serif;
  font-size: 1.5em; 
}

.my-input-form,
.my-textarea-form {
  width: 100%; 
  max-width: 100%; 
  border: 1.5px solid rgb(0, 0, 0);
  padding: 5px;
  outline: none;
  margin-bottom: 15px;
  box-sizing: border-box;
  color:rgb(0, 0, 0);
  font-family: "Charis SIL", serif;
}

.my-select-form {
  width: 100%;
  max-width: 100%;
  background-color:rgb(0, 0, 0);
  border: 0.5px solidrgb(7, 24, 70);
  padding: 5px;
  outline: none;
  border-radius: 2px;
  margin-bottom: 15px;
  box-sizing: border-box;
  color:rgb(0, 0, 0);
  font-family: "Charis SIL", serif;
}

.my-select-container {
  position: relative;
}

.my-select-container span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
  color:rgb(0, 0, 0);
  font-family: "Charis SIL", serif;
  pointer-events: none;
  z-index: 1; 
}

.my-button-form,
.my-link-form {
  width: 100%;
  margin-top: 2vw;
  color: rgb(0, 0, 0);
  font-family: "Charis SIL", serif;
  background-color: rgb(250, 255, 250); 
  text-decoration: none;
  text-align: center;
  padding: 10px;
  border: solid 1.5px rgb(0, 0, 0);
  cursor: pointer;
}

.category-list-create li {
  cursor: pointer;
}

.category-list-create{
  display: flex;
  flex-direction: column;
  list-style: none;
}


@media (max-width: 768px) {
  .my-label-form,
  .form-title {
    font-size: 18px; 
  }

  .my-button-form,
  .my-link-form {
    font-size: 14px;
  }

  .my-container-register {
    width: 90%; 
  }
}
