
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: "Charis SIL", serif;
  color:rgb(0, 0, 0);
  font-weight: 400;

  text-align: center; 
}

.about-p {
  width: 70%;
}
.home-sketch{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}