.home-img {
  background-image: url('../../assets/fondo.jpg'); 
  background-size: cover;
  background-position: 5% 5%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative; 
  z-index: -1;
  opacity: 0.8; /* Cambia este valor para ajustar la transparencia */
}

