.sidenav {
  position: fixed;
  height: 7vh;
  width: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.562);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: height 0.5s, padding-top 0.5s;
  font-family: "Jacquarda Bastarda 9", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content:center ;
  align-items: center;
  z-index: 9999; /* Ajusta el z-index según sea necesario */
}

.expanded {
  height: 200px; /* Altura expandida según sea necesario */
}

.nav-link {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(255, 0, 0);
  font-family: "Jacquarda Bastarda 9", serif;
}

.sidenav a:hover {
color: #ff8f8f;
}

.toggle-button {
  color: rgb(255, 1, 1);
  border: none;
  cursor: pointer;
  font-size: 20px;
  z-index: 2;
}
