.sidenav {
  position: fixed;
  height: 7vh;
  width: 100%;
  top: 0;
  transition:
    height 0.5s,
    padding-top 0.5s;
  color:rgb(0, 0, 0);
  font-family: "Charis SIL", serif;
  font-weight: 400;
  font-style: normal;
  z-index: 9;
  background-color: transparent;
}

.sidenav .nav-container,
.sidenav .nav-container .nav-logo,
.sidenav .nav-container .nav-options,
.sidenav .nav-container .nav-options .nav-link,
.sidenav .nav-container .nav-options .toggle-button,
.sidenav .nav-container .nav-options .search-button,
.sidenav .nav-container .nav-options .search-text {
  background-color: transparent;
}

.expanded {
  height: 200px;
}

.nav-container {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 2vh;
}

.nav-logo {
  text-decoration: none;
  font-size: 1.7vw;
  color: rgb(0, 0, 0);
}

.nav-options {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-right: 3.5vw;
}

.nav-link {
    background-color: transparent;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 14px;
  color:rgb(0, 0, 0);
}

.toggle-button:hover {

  color: rgb(0, 0, 0);
}

.toggle-button {
  background-color: transparent;
  display: flex;
  justify-content: start;
  flex-direction: row;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  font-size: 30px;
  z-index: 2;
}

.search-button {
  background-color: transparent;
  color:rgb(0, 0, 0);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Charis SIL", serif;
}

.search-button:hover {
  background-color: transparent;
  color:  rgba(0, 0, 0, 0.8);
}

.search-text {
  background-color: transparent;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 13px;
  color:rgb(0, 0, 0);
  cursor: pointer;
}

.side-options {
  background-color: transparent;
  position: absolute;
  top: 5;
  right: 2vw;
}

.search-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  appearance: none;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  font-family: "Charis SIL", serif;
  outline: none;
}


.search-input.active {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  appearance: none;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  font-family: "Charis SIL", serif;
  outline: none;

}
