.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
  font-family: "Charis SIL", serif;
  position: inherit;
  margin-top: 20vh;
  overflow-y: auto; 
}
  
  .cart-titles {
    display: flex;
    color: rgb(15, 30, 90);
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    padding: 0 10px;
    font-family: "Charis SIL", serif;
  }
  
  .cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    width: 60%;
    font-family: "Charis SIL", serif;
  }
  
  .title {
    color: rgb(15, 30, 90);
    font-family: "Charis SIL", serif;
    font-size: 1.5vw;
    margin-bottom: 5vw;
  }

  .item-container {
    width: 80px;
    height: auto; 
    display: flex;
    align-items: center; 
  }
  
  .item {
    color: rgb(15, 30, 90);
    font-family: "Charis SIL", serif;
    font-size: 1vw;
  }

  .item-price {
    color: rgb(15, 30, 90);
    font-family: "Charis SIL", serif;
    font-size: 1vw;
  }
  

  
  .decrement-increment {
    background-color: white;
    border: none;
    padding: 2px;
    color: rgb(15, 30, 90);
    font-family: "Charis SIL", serif;
    font-size: 1vw;
    width: 40px;
  }
  


  .separator {
    width: 60%;
    border-bottom: 1px solid rgb(15, 30, 90);
    margin: 40px 0;
    color: rgb(15, 30, 90);
  }
  
  .subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 10px 0;
    color: rgb(15, 30, 90);
    font-family: "Charis SIL", serif;
  }

  .item-final-price {
    display: block;
    margin-right: 1vw;
    color: rgb(15, 30, 90);
    font-family: "Charis SIL", serif;
    font-size: 1vw;
  }
  
  .subtotal .title {
    font-size: 15px;
    color: rgb(15, 30, 90);
    font-family: "Charis SIL", serif;
    font-size: 1vw;
  }
  
  .checkout {
    color: rgb(255, 255, 255);
    font-family: "Charis SIL", serif;
    font-size: 1.2vw;
    padding: 5px;
    background-color: rgb(15, 30, 90);
    border: solid 0.5px rgb(15, 30, 90);
    cursor: pointer;
    width: 15vw;
  }
  