* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: rgb(250, 255, 250); 
  }
  
  .sketch-container{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
  }

/* Agrega estas reglas de estilo a tu archivo Collection.css */

.loading {
  margin-top: 10vh;
  margin-bottom: 10vh;
  font-family: "Charis SIL", serif;
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  animation: opacityAnimation 1s ease infinite alternate; /* Agrega una animación de opacidad */
}

@keyframes opacityAnimation {
  0% {
    opacity: 1; /* Estado inicial: completamente opaco */
  }
  100% {
    opacity: 0.4; /* Estado final: semi-opaco */
  }
}