* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .sketch-container{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
  }

  .loading {
    font-family: "Archivo", sans-serif;
    display: flex;
    justify-content:center;
    margin-top: 10vh;
  }