/* Ajustes CSS */
.product-content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.media-container {
  width: 100%;
}

.info {
  width: 99%;
  height: 40vh;
  border: 0.8px solid #27343a;
  padding: 10px;
}

.price {
  font-size: 1vw;
  width: 100%;
  margin-bottom: 20px;
}

.product-title {
  margin-top: 20px;
  font-size: 5vh;
  margin-bottom: 20px;
}

.productImage {
  margin-top: 20px;
}

.product-detail-image{
  width: 100%;

}

.image-carrousell {
  outline: none;
}

.photoUploaderContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

slick-slider {
  cursor: grab; /* Cambiar el cursor a "agarre" cuando se pasa sobre el carrusel */
  outline: none;
}

.slick-slider:hover {
  cursor: grab;
  outline: none;
}

.slick-slider:active {
  cursor: grabbing; /* Cambiar el cursor a "agarrando" cuando se hace clic en el carrusel */
  outline: none;
}

.slick-slider:hover:active {
  cursor: grabbing;
  outline: none;
}
.product-colors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-colors li {
  list-style: none;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}

