/* Ajustes CSS */
.product-content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: rgb(7, 24, 70);
  font-family: "Charis SIL", serif;
}

.mediaGallery {
  position: relative;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  /* Ajusta la altura si es necesario */
}
.scrollbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px; /* Altura de la barra de desplazamiento */
  background-color: #ddd; /* Color de fondo de la barra de desplazamiento */
}

.scrollbar-thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%; /* Ajusta el ancho según tus preferencias */
  height: 100%;
  background-color: #888; /* Color del 'pulgar' de la barra de desplazamiento */
  cursor: pointer;
  z-index: 1; /* Asegúrate de que la barra esté por encima del contenido */
}
.media-container {
  width: 100%;
}

.info {
  width: 95%;
  height: 40vh;
  border: 0.8px solid  rgb(7, 24, 70);
  padding: 10px;
}

.sizes-container {
  color: rgb(7, 24, 70);
  font-family: "Charis SIL", serif;
}

.sizes-container li {
  list-style: none;
}

.price {
  font-size: 2.5vh;
  width: 100%;
  margin-bottom: 20px;
  color: rgb(7, 24, 70);
  font-family: "Charis SIL", serif;
}

.product-description{
  font-size: 1vw;
  color: rgb(7, 24, 70);
  font-family: "Charis SIL", serif;
  margin-bottom: 20px;
}

.product-title {
  margin-top: 20px;
  font-size: 2.5vh;
  margin-bottom: 20px;
  color: rgb(7, 24, 70);
  font-family: "Charis SIL", serif;
}

.productImage {
  margin-top: 20px;
}

.product-detail-image{
  width: 100%;

}

.image-carrousell {
  outline: none;
}

.photoUploaderContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

slick-slider {
  cursor: grab; /* Cambiar el cursor a "agarre" cuando se pasa sobre el carrusel */
  outline: none;
}

.slick-slider:hover {
  cursor: grab;
  outline: none;
}

.slick-slider:active {
  cursor: grabbing; /* Cambiar el cursor a "agarrando" cuando se hace clic en el carrusel */
  outline: none;
}

.slick-slider:hover:active {
  cursor: grabbing;
  outline: none;
}
.product-colors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-colors li {
  list-style: none;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}

.add-to-cart{
  color: rgb(7, 24, 70);
  font-family: "Charis SIL", serif;
  font-size: 1.5vw;
  padding: 5px;
  background-color:rgb(255, 255, 255);
  border: none;
}