
  
  .product-content {
    width: 100%;
    outline: none;
    display: flex;
    align-items:center ;
    flex-direction: column;

  }

  .media-container {
    outline: none;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 20vw;
    border: 0.8px solid #27343a; /* Cambio aquí */
    border-radius: 2px;
  }
  
  
  .price {
    font-family: "Archivo", sans-serif;
    font-size: 1.5vw;
    font-weight: 1;
    color: #27343a;
    font-style: bold;
    width: 80%;
    margin-top: 10px;
  }
  
  .product-title {
    font-family: "Archivo", sans-serif;
    font-size: 30px;
    font-weight: 1;
    color: #27343a;
    font-style: bold;
    margin-bottom: 5vh;
  }
  
  .category-name {
    font-family: "Archivo", sans-serif;
    font-size: 20px;
    font-weight: 1;
    color: #27343a;
    font-style: bold;
    text-decoration: none;
    display: flex;
    margin-bottom: 1vw
  }


  .photoUploaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vw;
  }

  .slick-slider {
    cursor: grab; /* Cambiar el cursor a "agarre" cuando se pasa sobre el carrusel */
    outline: none;
  }
  
  .slick-slider:hover {
    cursor: grab;
    outline: none;
  }
  
  .slick-slider:active {
    cursor: grabbing; /* Cambiar el cursor a "agarrando" cuando se hace clic en el carrusel */
    outline: none;
  }
  
  .slick-slider:hover:active {
    cursor: grabbing;
    outline: none;
  }

  .productImage {
      margin-top: 10vh;
  }
