.my-container-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  font-family: "Jacquarda Bastarda 9", serif;
  font-style: normal;
  border: 0.5px solid #000000;
  width: 70%;
  max-width: 600px; 
  height: auto;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 50px; 
  background-color: aliceblue;
  opacity: 0.8; /* Cambia este valor para ajustar la transparencia */
}

.my-label-form {
  display: block;
  margin-bottom: 5px;
  color: #000000ce;
  font-size: 2.5vw; 
}

.my-input-form,
.my-textarea-form,
.my-select-form {
  width: 90%; 
  max-width: 350px;
  min-width: 350px;
  background-color: #ffffff;
  border: 0.5px solid #000000;
  padding: 5px;
  outline: none;
  border-radius: 2px;
  margin-bottom: 15px; 
}

.my-button-form,
.my-link-form {
  width: 90%;
  margin-top: 2vw; 
  color: #000000ce;
  background-color: #ffffff;
  border: 0.5px solid #000000;
  text-decoration: none;
  text-align: center;
  padding: 10px; 
  border-radius: 2px;
  max-width: 350px;
  min-width: 350px; 
}

.form-title {
  display: block;
  color: #000000ce;
  font-size: 2.5vw;
  position: relative;
  top: -10px;
}

@media (max-width: 768px) {
  .my-label-form,
  .form-title {
    font-size: 18px;
  }

  .my-button-form,
  .my-link-form {
    font-size: 14px;
  }


  .my-container-register {
    margin-left: 150px;
  }
}
